{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}


		<h3> Edit Comment </h3>
		
			
{{ form_start(formArticle) }}
{{ form_widget(formArticle) }}
<button type="submit" class="btn btn-success"> Update </button>
{{ form_end(formArticle) }}
 
 {% endblock %}