
{% extends 'base.html.twig' %}
{% block body %}
<p style="text-align:center;">
    <img src="http://www.lacontreallee.com/sites/default/files/blog_67_46.jpg" height="242" width="242" class="center"/></p>
<h1 align="center"> {{title}} </h1>
<p> Créer un blog aujourd'hui n'a plus le même impact qu'il y a 10 ans. Les pratiques digitales évoluent, 
l'accès aux outils numériques se démocratise, et il peut être intimidant de se lancer parmi la masse
 grandissante de contenus déjà présents sur la toile. Si vous voulez sortir du lot, il vous faudra développer
 votre propre style, adopter une voix unique et identifiable. Nous ne nous étendrons pas sur l'importance de 
l'orthographe et de la qualité rédactionnelle que vous devez considérer comme des pré-requis indispensables.

Quels que soient vos objectifs personnels ou professionnels, créer un blog en 2019 nécessite de mener une
 réflexion de fond : pourquoi, comment, quand, dans quel but ? Autant de questions à vous poser pour adopter 
 la bonne stratégie, celle qui conduira votre blog à se démarquer et interpeller les internautes.

Mais au delà de partager autour de votre passion et de vos sujets de prédilection, pour faire la différence,
 adoptez un angle novateur, et proposez avec régularité du contenu pertinent, informatif et de qualité. Les 
 lecteurs sont de plus en plus exigeants et impatients : sachez les retenir sur votre blog, et surtout,
 donnez-leur envie d'y revenir. </p>
 <p align="right"> <b>Tasnim SHAQURA </b></p>
 {% endblock %}